.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}

.forgot-pass a {
    font-size: .85em;
    color: var(--white);
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}